@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or styles.css */

/* Default styles for dark mode */
:root {
  --background: #111827; /* Set dark mode background to gray-900 */
  --foreground: #d1d5db; /* Light text color */
}

/* Light mode styles */
.light {
  --background: #f9fafb; /* Light background */
  --foreground: #111827; /* Dark text color */
}


body {
  @apply bg-background text-foreground; /* Use the defined colors */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use your desired font */
}

/* Fade-in animations */
.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in-active {
  opacity: 1;
}

h1 {
  font-weight: 600;
}

button {
  font-size: 16px;
  font-weight: 500;
  background-color: #4f46e5; /* Indigo color */
  border: none;
  color: white;
  border-radius: 8px;
}

button:hover {
  background-color: #84819f; /* Darker shade on hover */
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .w-64 {
    width: 100%; /* Make sidebar full-width on smaller screens */
    height: auto; /* Adjust height */
  }

  .flex {
    flex-direction: column; /* Stack sidebar and main content */
  }
}

/*
html {
  zoom: 80%;
}
*/
